{{ 'banner-gradiweb.css' | asset_url | stylesheet_tag }}
<div id="particles-js"></div>
<div class="banner col-12 m-0">
    <div class="banner__customers col-11 col-md-10">
        <h2> Somos una tienda de alto impacto con más de <span></span> órdenes entregadas y más de <span></span>clientes a nivel mundial</span></h2>
        <h3><span class="typed"></span></h3>
    </div>
</div>

<script src="{{ 'banner.gradiwebtext.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'services.customers.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'particles.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'app.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'services.orders.js' | asset_url }}" defer="defer"></script>